
.playkit-floating-poster {
  height: 100%;
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
}
.playkit-floating-poster.playkit-floating-poster-show {
  display: block;
}
.playkit-floating-active.playkit-floating-active-top {
  top: 0;
}
.playkit-floating-active.playkit-floating-active-bottom {
  bottom: 0;
}
.playkit-floating-active.playkit-floating-active-left {
  left: 0;
}
.playkit-floating-active.playkit-floating-active-right {
  right: 0;
}

.playkit-floating-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.playkit-floating-container.playkit-floating-active {
  z-index: 9999;
  position: fixed;
  border-radius: 8px;
}
.playkit-floating-container.playkit-floating-active.draggable {
  cursor: grab;
}

#playkit-floating-dismissible-container {
  display: none;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 32px;
  background: #242424;
  border-radius: 8px 8px 0 0;
  .playkit-dismissible-text {
    color: white;
    display: flex;
    width: 100%;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 700;
    font-family: Lato, Helvetica Neue, Segoe UI, sans-serif;
    cursor: pointer;
  }
  .playkit-icon-close {
    cursor: pointer;
    background-position-x: 0;
  }
}

.playkit-floating-dismissible {
  display: none;
  height: 24px;
  width: 24px;
}

.playkit-floating-container.playkit-floating-active #playkit-floating-dismissible-container {
  display: flex;
  .playkit-floating-dismissible {
    display: flex;
    align-items: center;
    margin: 4px 8px 4px 0;
  }
}
.playkit-floating-dismissible.playkit-floating-infullscreen{
  display: none !important;
}
